A14G_flows.json
[
    {
        "id": "41bedfae1ec03eb8",
        "type": "tab",
        "label": "Node-RED Implementation",
        "disabled": false,
        "info": "We can implement and simulate what happens on the Node-RED part of the system without programming our microcontroller devices. We can leverage the use of a web-browser based MQTT server to simulate input and output to/from the Node-RED Design. This will allow us to “divide and conquer” – divide the design into smaller, more achievable tasks.\r\n\r\nIn this part of the assignment, implement your complete Node-RED system and test how it works by using the MQTT broker you set up on your Azure virtual machine.\r\n\r\nUnit test your complete Node-RED system – implement the complete workflow, and use MQTT  messages, sent by a client broker on your Azure VM, to test that the inputs work. Be sure to test everything!\r\n\r\nMake the frontend to show to the user all the important information. This includes graphs, dials,  buttons, etc. In short – all that you need to put in the frontend to allow a user to see your system in  function! What you implement should be complete – that is, it should have all the logic that your application  needs as well as all the user interface required, and everything should be tested to work.\r\n\r\nEnsure you’re using your Azure VM MQTT broker, NOT HiveMQ. You’ll get a 0 if you’re not using your own MQTT broker.\r\n\r\nYou aren’t expected to write C firmware for this question - you don’t have all of your firmware drivers written yet! You can simulate and verify your Node-RED implementation with debugging and injection nodes.\r\n\r\nSubmission:\r\n●\tA video of your Node-RED setup working and explain how it operates.\r\n●\tScreenshots of your backend and frontend of Node-RED.\r\n●\tCommit your Node-RED source code to your Github repository in the Node-RED folder.\r\n●\tSubmit a link to your Node-RED UI (the public URL).\r\n",
        "env": []
    },
    {
        "id": "931fe60828fecaa6",
        "type": "tab",
        "label": "Bidirectional Cloud Communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14e86f6955a197ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "18c13f2a72cfabdb",
        "type": "tab",
        "label": "2 player game simulation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8228e3077ac0703d",
        "type": "tab",
        "label": "Simulation Game Board",
        "disabled": false,
        "info": ""
    },
    {
        "id": "070b7afdba71b631",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "72c26975014f9213",
        "type": "mqtt-broker",
        "name": "AzureMQTTbroker",
        "broker": "135.18.249.92",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "10",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1ac8c2ebe451e021",
        "type": "mqtt-broker",
        "name": "AzureMQTTbroker",
        "broker": "135.18.249.92",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8fde701c.6c6c3",
        "type": "mqtt-broker",
        "name": "AzureMqttBroker",
        "broker": "516.00.516.516",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ced444794130f2b6",
        "type": "ui_tab",
        "name": "2 Player Simulation",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3a02e4b5d9ecf3d",
        "type": "ui_tab",
        "name": "One Player Game",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eefa1c5385cf1044",
        "type": "ui_group",
        "name": "Color",
        "tab": "c3a02e4b5d9ecf3d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f9cdd44a30ae732b",
        "type": "ui_group",
        "name": "P1 LED Board",
        "tab": "ced444794130f2b6",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "81488ffe2436a743",
        "type": "ui_group",
        "name": "2 Player Game Simulation",
        "tab": "ced444794130f2b6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fa8021cd70abcf93",
        "type": "mqtt-broker",
        "name": "HW",
        "broker": "135.18.249.92",
        "port": "1880",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "95a5709e43e9f32b",
        "type": "mqtt-broker",
        "name": "HW",
        "broker": "135.18.249.92",
        "port": "1880",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9ef4295ede0e4b07",
        "type": "ui_tab",
        "name": "Cloud Home",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1412c09907ccc607",
        "type": "ui_group",
        "name": "HW",
        "tab": "9ef4295ede0e4b07",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5242f4fbbd3de78",
        "type": "ui_tab",
        "name": "Node-RED Implementation",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca274388ed79055c",
        "type": "ui_group",
        "name": "SHT",
        "tab": "c5242f4fbbd3de78",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "23e97ea4852216b4",
        "type": "ui_group",
        "name": "Temperature Probe",
        "tab": "c5242f4fbbd3de78",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9550c2e103cf69ef",
        "type": "ui_group",
        "name": "X",
        "tab": "c5242f4fbbd3de78",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "38c32304acb46f67",
        "type": "ui_group",
        "name": "Enter",
        "tab": "c5242f4fbbd3de78",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "66a01985093aa1d8",
        "type": "ui_group",
        "name": "Y",
        "tab": "c5242f4fbbd3de78",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d3cafd9e89112f3",
        "type": "comment",
        "z": "41bedfae1ec03eb8",
        "name": "Room Tempuerature Moniter",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "b32605a87fc4f521",
        "type": "mqtt in",
        "z": "41bedfae1ec03eb8",
        "name": "",
        "topic": "SHT45_Temp",
        "qos": "1",
        "datatype": "buffer",
        "broker": "72c26975014f9213",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "9791b20ea5960202",
                "1d5ffce0d7d33ce9"
            ]
        ]
    },
    {
        "id": "9791b20ea5960202",
        "type": "debug",
        "z": "41bedfae1ec03eb8",
        "name": "SHT45_Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "1d5ffce0d7d33ce9",
        "type": "ui_artlessgauge",
        "z": "41bedfae1ec03eb8",
        "group": "ca274388ed79055c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "icon": "temp",
        "label": "Temp",
        "unit": "",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": false,
        "sectors": [
            {
                "val": 0,
                "col": "#2b00ff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 20,
                "col": "#ff6666",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#ebef0b",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#ebef0b",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "16dd4e0c79517573",
        "type": "inject",
        "z": "41bedfae1ec03eb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SHT45_Temp",
        "payload": "35",
        "payloadType": "num",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "1d5ffce0d7d33ce9",
                "9791b20ea5960202"
            ]
        ]
    },
    {
        "id": "94b83b4ee3c8ed60",
        "type": "comment",
        "z": "41bedfae1ec03eb8",
        "name": "Room Humidity Moniter",
        "info": "",
        "x": 180,
        "y": 320,
        "wires": []
    },
    {
        "id": "5929863dde908090",
        "type": "mqtt in",
        "z": "41bedfae1ec03eb8",
        "name": "",
        "topic": "SHT45_Humidity",
        "qos": "1",
        "datatype": "buffer",
        "broker": "72c26975014f9213",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "7bad806667a1df24",
                "ad20fd5d9b17bb6a"
            ]
        ]
    },
    {
        "id": "7bad806667a1df24",
        "type": "debug",
        "z": "41bedfae1ec03eb8",
        "name": "SHT45_Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "ad20fd5d9b17bb6a",
        "type": "ui_artlessgauge",
        "z": "41bedfae1ec03eb8",
        "group": "ca274388ed79055c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "icon": "",
        "label": "Humidity",
        "unit": "",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#ff9900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 740,
        "y": 380,
        "wires": []
    },
    {
        "id": "09c5124525b17071",
        "type": "inject",
        "z": "41bedfae1ec03eb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SHT45_Humidity",
        "payload": "48",
        "payloadType": "num",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "7bad806667a1df24",
                "ad20fd5d9b17bb6a"
            ]
        ]
    },
    {
        "id": "359d5aac414c2c23",
        "type": "mqtt in",
        "z": "41bedfae1ec03eb8",
        "name": "",
        "topic": "RTD1000_Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "72c26975014f9213",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 680,
        "wires": [
            [
                "254656f74b68931e",
                "1a582326d296a03c",
                "2b2a503965a25eb8"
            ]
        ]
    },
    {
        "id": "60fb49eea84dad59",
        "type": "comment",
        "z": "41bedfae1ec03eb8",
        "name": "Temperature Probe moniter and alarm",
        "info": "",
        "x": 230,
        "y": 600,
        "wires": []
    },
    {
        "id": "254656f74b68931e",
        "type": "debug",
        "z": "41bedfae1ec03eb8",
        "name": "RTD1000_Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 760,
        "wires": []
    },
    {
        "id": "1a582326d296a03c",
        "type": "ui_artlessgauge",
        "z": "41bedfae1ec03eb8",
        "group": "23e97ea4852216b4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "icon": "",
        "label": "Cooking Temp",
        "unit": "℃",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#ff9900",
                "t": "min",
                "dot": 0
            },
            {
                "val": 250,
                "col": "#ff9900",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 640,
        "y": 620,
        "wires": []
    },
    {
        "id": "6203224dfc24eab4",
        "type": "inject",
        "z": "41bedfae1ec03eb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "RTD1000_Temp",
        "payload": "125",
        "payloadType": "num",
        "x": 170,
        "y": 780,
        "wires": [
            [
                "254656f74b68931e",
                "1a582326d296a03c",
                "2b2a503965a25eb8"
            ]
        ]
    },
    {
        "id": "2b2a503965a25eb8",
        "type": "function",
        "z": "41bedfae1ec03eb8",
        "name": "alarm",
        "func": "if(msg.payload >= 0)\n{\n    msg.payload = true;\n}\nelse\n{\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 700,
        "wires": [
            [
                "e5fbbbf175402746"
            ]
        ]
    },
    {
        "id": "e5fbbbf175402746",
        "type": "ui_led",
        "z": "41bedfae1ec03eb8",
        "order": 0,
        "group": "23e97ea4852216b4",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 680,
        "wires": []
    },
    {
        "id": "47ead4ff5011415c",
        "type": "mqtt out",
        "z": "931fe60828fecaa6",
        "name": "mqttOut",
        "topic": "UIButton",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72c26975014f9213",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "a16195e76954a40b",
        "type": "ui_led",
        "z": "931fe60828fecaa6",
        "order": 1,
        "group": "1412c09907ccc607",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 620,
        "wires": []
    },
    {
        "id": "49cb3741ad20dc78",
        "type": "mqtt in",
        "z": "931fe60828fecaa6",
        "name": "mqttIn",
        "topic": "DebugButton",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "72c26975014f9213",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 620,
        "wires": [
            [
                "a16195e76954a40b"
            ]
        ]
    },
    {
        "id": "0c84410cdf907c2e",
        "type": "function",
        "z": "931fe60828fecaa6",
        "name": "function 1",
        "func": "if (msg.payload == \"on\"){\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "47ead4ff5011415c"
            ]
        ]
    },
    {
        "id": "4114f289cc9e8fc2",
        "type": "ui_button",
        "z": "931fe60828fecaa6",
        "name": "",
        "group": "1412c09907ccc607",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "On",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "0c84410cdf907c2e"
            ]
        ]
    },
    {
        "id": "6ea05b0b8a8080eb",
        "type": "ui_button",
        "z": "931fe60828fecaa6",
        "name": "",
        "group": "9550c2e103cf69ef",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "XP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "On",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "1ef40229cb711a92"
            ]
        ]
    },
    {
        "id": "fdb1d77176a993c4",
        "type": "ui_button",
        "z": "931fe60828fecaa6",
        "name": "",
        "group": "9550c2e103cf69ef",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "XM",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "On",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "78ecef4fb56b9c28"
            ]
        ]
    },
    {
        "id": "66909910ca329497",
        "type": "mqtt out",
        "z": "931fe60828fecaa6",
        "name": "mqtt out ",
        "topic": "JoyXP",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72c26975014f9213",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "c54807f93b3d019c",
        "type": "mqtt out",
        "z": "931fe60828fecaa6",
        "name": "Button click",
        "topic": "ButtonClick",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72c26975014f9213",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "d1d2331ad27558dc",
        "type": "ui_button",
        "z": "931fe60828fecaa6",
        "name": "",
        "group": "38c32304acb46f67",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "True",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "c54807f93b3d019c",
                "c5782686adf3d459"
            ]
        ]
    },
    {
        "id": "b58a7c758397f619",
        "type": "ui_button",
        "z": "931fe60828fecaa6",
        "name": "",
        "group": "66a01985093aa1d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "+Y",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "On",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "593afb7ebd45932c"
            ]
        ]
    },
    {
        "id": "0243e23d7d1ab10e",
        "type": "ui_button",
        "z": "931fe60828fecaa6",
        "name": "",
        "group": "66a01985093aa1d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "-Y",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "True",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "37f457ae0e0d4524",
                "c2664e76de60c644"
            ]
        ]
    },
    {
        "id": "639b980445f4af91",
        "type": "mqtt out",
        "z": "931fe60828fecaa6",
        "name": "mqtt YP",
        "topic": "JoyYP",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72c26975014f9213",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "37f457ae0e0d4524",
        "type": "mqtt out",
        "z": "931fe60828fecaa6",
        "name": "",
        "topic": "JoyYM",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72c26975014f9213",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "78ecef4fb56b9c28",
        "type": "function",
        "z": "931fe60828fecaa6",
        "name": "function 3",
        "func": "if (msg.payload ==\"On\"){\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 320,
        "wires": [
            [
                "df2cc238ee255345",
                "32d0a65252a8af46"
            ]
        ]
    },
    {
        "id": "1ef40229cb711a92",
        "type": "function",
        "z": "931fe60828fecaa6",
        "name": "function 2",
        "func": "if (msg.payload == \"On\"){\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 100,
        "wires": [
            [
                "66909910ca329497",
                "7a3449dc60ead41c"
            ]
        ]
    },
    {
        "id": "7a3449dc60ead41c",
        "type": "debug",
        "z": "931fe60828fecaa6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "df2cc238ee255345",
        "type": "debug",
        "z": "931fe60828fecaa6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "32d0a65252a8af46",
        "type": "mqtt out",
        "z": "931fe60828fecaa6",
        "name": "Mqttout",
        "topic": "JoyXM",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72c26975014f9213",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "c2664e76de60c644",
        "type": "debug",
        "z": "931fe60828fecaa6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "593afb7ebd45932c",
        "type": "function",
        "z": "931fe60828fecaa6",
        "name": "function 4",
        "func": "if(msg.payload == \"On\") {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 100,
        "wires": [
            [
                "639b980445f4af91",
                "bf865a1901967174"
            ]
        ]
    },
    {
        "id": "bf865a1901967174",
        "type": "debug",
        "z": "931fe60828fecaa6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "c5782686adf3d459",
        "type": "debug",
        "z": "931fe60828fecaa6",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "dd65883073a9f903",
        "type": "function",
        "z": "14e86f6955a197ae",
        "name": "temp",
        "func": "return {payload:msg.payload.d.temp};",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "39c2f8bda792b9f6"
            ]
        ]
    },
    {
        "id": "39c2f8bda792b9f6",
        "type": "switch",
        "z": "14e86f6955a197ae",
        "name": "temp thresh",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "40",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "40",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "2a8599540d05c1f4"
            ],
            [
                "c0dc93cb7e83fea5"
            ]
        ]
    },
    {
        "id": "59ddcdeba1637de9",
        "type": "debug",
        "z": "14e86f6955a197ae",
        "name": "cpu status",
        "active": true,
        "complete": "false",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "68b45eb2662d6399",
        "type": "debug",
        "z": "14e86f6955a197ae",
        "name": "device data",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 410,
        "y": 560,
        "wires": []
    },
    {
        "id": "2a8599540d05c1f4",
        "type": "template",
        "z": "14e86f6955a197ae",
        "name": "safe",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "Temperature ({{payload}}) within safe limits",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "59ddcdeba1637de9"
            ]
        ]
    },
    {
        "id": "c0dc93cb7e83fea5",
        "type": "template",
        "z": "14e86f6955a197ae",
        "name": "danger",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "Temperature ({{payload}}) critical",
        "x": 720,
        "y": 500,
        "wires": [
            [
                "59ddcdeba1637de9"
            ]
        ]
    },
    {
        "id": "2ca4808c446af4b6",
        "type": "inject",
        "z": "14e86f6955a197ae",
        "name": "Send Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "1659cdea13069749"
            ]
        ]
    },
    {
        "id": "1659cdea13069749",
        "type": "function",
        "z": "14e86f6955a197ae",
        "name": "Device payload",
        "func": "// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "58961711528139e3",
                "9f817338416a8e2f"
            ]
        ]
    },
    {
        "id": "58961711528139e3",
        "type": "debug",
        "z": "14e86f6955a197ae",
        "name": "Debug output payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "6e434edaa37093b6",
        "type": "comment",
        "z": "14e86f6955a197ae",
        "name": "Device Simulator",
        "info": "Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "555a1a101e53eae6",
        "type": "comment",
        "z": "14e86f6955a197ae",
        "name": "1. Configure target",
        "info": "",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "d2e4df636a36466c",
        "type": "comment",
        "z": "14e86f6955a197ae",
        "name": "2. Click to send data",
        "info": "To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n",
        "x": 130,
        "y": 180,
        "wires": []
    },
    {
        "id": "00b11bd7f46acf2a",
        "type": "comment",
        "z": "14e86f6955a197ae",
        "name": "Temperature Monitor",
        "info": "",
        "x": 210,
        "y": 380,
        "wires": []
    },
    {
        "id": "cae93bea281c5161",
        "type": "comment",
        "z": "14e86f6955a197ae",
        "name": "Configure source",
        "info": "",
        "x": 200,
        "y": 440,
        "wires": []
    },
    {
        "id": "3957c5c53ae86f01",
        "type": "json",
        "z": "14e86f6955a197ae",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "dd65883073a9f903",
                "68b45eb2662d6399"
            ]
        ]
    },
    {
        "id": "9f817338416a8e2f",
        "type": "mqtt out",
        "z": "14e86f6955a197ae",
        "name": "",
        "topic": "TempData",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "cd506acfcb7e8a6a",
        "type": "mqtt in",
        "z": "14e86f6955a197ae",
        "name": "",
        "topic": "P1_IMU_ESE516_T0",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "ceb9c44938fcec9e"
            ]
        ]
    },
    {
        "id": "ceb9c44938fcec9e",
        "type": "debug",
        "z": "14e86f6955a197ae",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 490,
        "y": 720,
        "wires": []
    },
    {
        "id": "35ce388af8963f61",
        "type": "mqtt in",
        "z": "14e86f6955a197ae",
        "name": "",
        "topic": "P1_DISTANCE_ESE516_T0",
        "qos": "2",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 780,
        "wires": [
            [
                "82b6cb00b30267d2"
            ]
        ]
    },
    {
        "id": "82b6cb00b30267d2",
        "type": "debug",
        "z": "14e86f6955a197ae",
        "name": "device data",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 490,
        "y": 780,
        "wires": []
    },
    {
        "id": "35c8167367e5bc2a",
        "type": "function",
        "z": "18c13f2a72cfabdb",
        "name": "Add Play",
        "func": "\nif(msg.payload.game.length <= 20){\n    \n //Concatenate a play\n msg.payload.game.push(Math.round(Math.random()*15))\n    \n}\nelse{\n //Pop out first game in list and add a new one at the end\n msg.payload.game.shift(); // Remove an item from the beginning of an array.\n msg.payload.game.push(Math.round(Math.random()*15))\n}\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 320,
        "wires": [
            [
                "da94e29e948a7c73",
                "bf52a3b090521252",
                "e881b7d57cab4d76"
            ]
        ]
    },
    {
        "id": "da94e29e948a7c73",
        "type": "debug",
        "z": "18c13f2a72cfabdb",
        "name": "Debug output payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "09e8d9f7d262ac61",
        "type": "comment",
        "z": "18c13f2a72cfabdb",
        "name": "Device Simulator - Press to Start a New Game",
        "info": "Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "69ded5f2ced5f4a3",
        "type": "comment",
        "z": "18c13f2a72cfabdb",
        "name": "Add move to P1 and send to P2",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "03435573339bcb88",
        "type": "mqtt out",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "topic": "P1_GAME_ESE516_T0",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8fde701c.6c6c3",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "d4cff7acfb060637",
        "type": "inject",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"game\":[0]}",
        "payloadType": "json",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "e3860942fdb8b468"
            ]
        ]
    },
    {
        "id": "ab042de6a944f3a0",
        "type": "debug",
        "z": "18c13f2a72cfabdb",
        "name": "Debug output payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "adb46de57716c162",
        "type": "mqtt in",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "topic": "P1_GAME_ESE516_T0",
        "qos": "1",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "7c42458499a7e5fb",
                "ba35c836ad1d9911"
            ]
        ]
    },
    {
        "id": "7c42458499a7e5fb",
        "type": "debug",
        "z": "18c13f2a72cfabdb",
        "name": "Debug output payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "521cce9963560a9c",
        "type": "debug",
        "z": "18c13f2a72cfabdb",
        "name": "Debug output payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "ba35c836ad1d9911",
        "type": "json",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "35c8167367e5bc2a",
                "521cce9963560a9c"
            ]
        ]
    },
    {
        "id": "bf52a3b090521252",
        "type": "mqtt out",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "topic": "P2_GAME_ESE516_T0",
        "qos": "1",
        "retain": "",
        "broker": "8fde701c.6c6c3",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "8fa287be37f08107",
        "type": "mqtt in",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "topic": "P2_GAME_ESE516_T0",
        "qos": "1",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "inputs": 0,
        "x": 200,
        "y": 600,
        "wires": [
            [
                "f714e778ba6d2c20",
                "791c9ad5738f3bfc"
            ]
        ]
    },
    {
        "id": "16acbca0bcfaa954",
        "type": "function",
        "z": "18c13f2a72cfabdb",
        "name": "Add Play",
        "func": "\nif(msg.payload.game.length <= 20){\n    \n //Concatenate a play\n msg.payload.game.push(Math.round(Math.random()*15))\n    \n}\nelse{\n //Pop out first game in list and add a new one at the end\n msg.payload.game.shift(); // Remove an item from the beginning of an array.\n msg.payload.game.push(Math.round(Math.random()*15))\n}\n\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 600,
        "wires": [
            [
                "2616a2519e49e53a",
                "8ec74656b34eaab0",
                "df425cf1c4d75f0a"
            ]
        ]
    },
    {
        "id": "2616a2519e49e53a",
        "type": "debug",
        "z": "18c13f2a72cfabdb",
        "name": "Debug output payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "791c9ad5738f3bfc",
        "type": "debug",
        "z": "18c13f2a72cfabdb",
        "name": "Debug output payload",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 380,
        "y": 740,
        "wires": []
    },
    {
        "id": "de04750dc41665c2",
        "type": "debug",
        "z": "18c13f2a72cfabdb",
        "name": "Debug output payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "f714e778ba6d2c20",
        "type": "json",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "16acbca0bcfaa954",
                "de04750dc41665c2"
            ]
        ]
    },
    {
        "id": "b5a5a3b11483d5ca",
        "type": "mqtt out",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "topic": "P1_GAME_ESE516_T0",
        "qos": "1",
        "retain": "",
        "broker": "8fde701c.6c6c3",
        "x": 570,
        "y": 880,
        "wires": []
    },
    {
        "id": "51015c6399bc3f08",
        "type": "ui_button",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "group": "81488ffe2436a743",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Simulate Turn",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 913,
        "wires": [
            [
                "0b67d0ae833815d2"
            ]
        ]
    },
    {
        "id": "8ec74656b34eaab0",
        "type": "change",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "message1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0b67d0ae833815d2",
        "type": "change",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "message1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 893,
        "wires": [
            [
                "b5a5a3b11483d5ca"
            ]
        ]
    },
    {
        "id": "b3ce0793960b6b49",
        "type": "comment",
        "z": "18c13f2a72cfabdb",
        "name": "Add move to P2 and send to P1 when BUTTON is press",
        "info": "",
        "x": 240,
        "y": 540,
        "wires": []
    },
    {
        "id": "c508050cce49b4cd",
        "type": "comment",
        "z": "18c13f2a72cfabdb",
        "name": "Simulate Turn",
        "info": "",
        "x": 110,
        "y": 820,
        "wires": []
    },
    {
        "id": "e881b7d57cab4d76",
        "type": "ui_text",
        "z": "18c13f2a72cfabdb",
        "group": "81488ffe2436a743",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "P1 Move",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "df425cf1c4d75f0a",
        "type": "ui_text",
        "z": "18c13f2a72cfabdb",
        "group": "81488ffe2436a743",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "P2 Move",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 640,
        "wires": []
    },
    {
        "id": "e3860942fdb8b468",
        "type": "ui_button",
        "z": "18c13f2a72cfabdb",
        "name": "",
        "group": "81488ffe2436a743",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Initialize Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"game\":[0]}",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "03435573339bcb88",
                "ab042de6a944f3a0"
            ]
        ]
    },
    {
        "id": "71552b060c0dddb5",
        "type": "comment",
        "z": "8228e3077ac0703d",
        "name": "Animate Play",
        "info": "",
        "x": 90,
        "y": 240,
        "wires": []
    },
    {
        "id": "484ee39211e25d43",
        "type": "debug",
        "z": "8228e3077ac0703d",
        "name": "Debug output payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "ac25727ecab61c8a",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led1",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "64fcf772c704558f",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led2",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "8bd9e032c28a2e09",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led3",
        "x": 1270,
        "y": 180,
        "wires": []
    },
    {
        "id": "2d24a9cb0781a756",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led4",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "f99fb6e87964c765",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led5",
        "x": 1270,
        "y": 260,
        "wires": []
    },
    {
        "id": "b4ad13c12ae97c60",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led6",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "c46971366a7a08a8",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led7",
        "x": 1270,
        "y": 340,
        "wires": []
    },
    {
        "id": "59dec3585f112236",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led8",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "a7d75d0ab21e1dd7",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led9",
        "x": 1270,
        "y": 420,
        "wires": []
    },
    {
        "id": "8fc463c97fa5b28d",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led10",
        "x": 1270,
        "y": 460,
        "wires": []
    },
    {
        "id": "e7f2447505367225",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led11",
        "x": 1270,
        "y": 500,
        "wires": []
    },
    {
        "id": "a72f975a98b0013d",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led12",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "3728a21fea977b0e",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led13",
        "x": 1270,
        "y": 580,
        "wires": []
    },
    {
        "id": "1f04bb98cc250809",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led14",
        "x": 1270,
        "y": 620,
        "wires": []
    },
    {
        "id": "402cfa201a16216c",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led15",
        "x": 1270,
        "y": 660,
        "wires": []
    },
    {
        "id": "0c4aaf7a4ab0a376",
        "type": "ui_led",
        "z": "8228e3077ac0703d",
        "order": 1,
        "group": "f9cdd44a30ae732b",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "Led16",
        "x": 1270,
        "y": 700,
        "wires": []
    },
    {
        "id": "0f71bf3465248cfd",
        "type": "split",
        "z": "8228e3077ac0703d",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "7b9c09c828108c1b"
            ]
        ]
    },
    {
        "id": "1f25da2c50924473",
        "type": "delay",
        "z": "8228e3077ac0703d",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "8c58c6b279a2c5bc",
                "e709f6a2b3c2efb7"
            ]
        ]
    },
    {
        "id": "b1b1d6940b91c762",
        "type": "mqtt in",
        "z": "8228e3077ac0703d",
        "name": "",
        "topic": "P2_GAME_ESE516_T0",
        "qos": "1",
        "datatype": "auto",
        "broker": "8fde701c.6c6c3",
        "inputs": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "3b60ce4df9d5e794"
            ]
        ]
    },
    {
        "id": "8c58c6b279a2c5bc",
        "type": "debug",
        "z": "8228e3077ac0703d",
        "name": "Debug output payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 940,
        "y": 580,
        "wires": []
    },
    {
        "id": "3b60ce4df9d5e794",
        "type": "json",
        "z": "8228e3077ac0703d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "484ee39211e25d43",
                "870b7a1e03a9eb43"
            ]
        ]
    },
    {
        "id": "7b9c09c828108c1b",
        "type": "split",
        "z": "8228e3077ac0703d",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 610,
        "y": 280,
        "wires": [
            [
                "1f25da2c50924473"
            ]
        ]
    },
    {
        "id": "de418e6a8d5c4b50",
        "type": "debug",
        "z": "8228e3077ac0703d",
        "name": "Debug output payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1300,
        "y": 60,
        "wires": []
    },
    {
        "id": "e709f6a2b3c2efb7",
        "type": "function",
        "z": "8228e3077ac0703d",
        "name": "",
        "func": "var on = { payload: true};\nvar off = { payload: false};\n\n\nif(msg.payload === 0)\n{\n  return [on, off, off, off, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 1)\n{\n  return [off, on, off, off, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 2)\n{\n  return [off, off, on, off, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 3)\n{\n  return [off, off, off, on, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 4)\n{\n  return [off, off, off, off, on, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 5)\n{\n  return [off, off, off, off, off, on, off, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 6)\n{\n  return [off, off, off, off, off, off, on, off, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 7)\n{\n  return [off, off, off, off, off, off, off, on, off, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 8)\n{\n  return [off, off, off, off, off, off, off, off, on, off, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 9)\n{\n  return [off, off, off, off, off, off, off, off, off, on, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 10)\n{\n  return [off, off, off, off, off, off, off, off, off, off, on, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 11)\n{\n  return [off, off, off, off, off, off, off, off, off, on, off, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 12)\n{\n  return [off, off, off, off, off, off, off, off, off, off, on, off, off, off, off, off];  \n    \n}\nelse if(msg.payload === 13)\n{\n  return [off, off, off, off, off, off, off, off, off, off, off, on, off, off, off, off];  \n    \n}\nelse if(msg.payload === 14)\n{\n  return [off, off, off, off, off, off, off, off, off, off, off, off, on, off, off, off];  \n    \n}\nelse if(msg.payload === 15)\n{\n  return [off, off, off, off, off, off, off, off, off, off, off, off, off, on, off, off];  \n    \n}\nelse\n{\n  return [off, off, off, off, off, off, off, off, off, off, off, off, off, off, off, off];  \n    \n}\n",
        "outputs": 16,
        "noerr": 0,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "ac25727ecab61c8a",
                "de418e6a8d5c4b50"
            ],
            [
                "64fcf772c704558f"
            ],
            [
                "8bd9e032c28a2e09"
            ],
            [
                "2d24a9cb0781a756"
            ],
            [
                "f99fb6e87964c765"
            ],
            [
                "b4ad13c12ae97c60"
            ],
            [
                "c46971366a7a08a8"
            ],
            [
                "59dec3585f112236"
            ],
            [
                "a7d75d0ab21e1dd7"
            ],
            [
                "8fc463c97fa5b28d"
            ],
            [
                "e7f2447505367225"
            ],
            [
                "a72f975a98b0013d"
            ],
            [
                "3728a21fea977b0e"
            ],
            [
                "1f04bb98cc250809"
            ],
            [
                "402cfa201a16216c"
            ],
            [
                "0c4aaf7a4ab0a376"
            ]
        ]
    },
    {
        "id": "870b7a1e03a9eb43",
        "type": "function",
        "z": "8228e3077ac0703d",
        "name": "",
        "func": "msg.payload.game.push(16) //Add 16 at end to turn of system\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "0f71bf3465248cfd"
            ]
        ]
    },
    {
        "id": "5ca5f7d8e1cacac5",
        "type": "ui_colour_picker",
        "z": "8228e3077ac0703d",
        "name": "",
        "label": "LED Color",
        "group": "81488ffe2436a743",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": true,
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "4cc97ed10e6e1c5e",
                "a119b832d09df856"
            ]
        ]
    },
    {
        "id": "4cc97ed10e6e1c5e",
        "type": "debug",
        "z": "8228e3077ac0703d",
        "name": "Debug output payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "a119b832d09df856",
        "type": "mqtt out",
        "z": "8228e3077ac0703d",
        "name": "",
        "topic": "P1_LED_ESE516_T0",
        "qos": "1",
        "retain": "",
        "broker": "8fde701c.6c6c3",
        "x": 480,
        "y": 40,
        "wires": []
    }
]